/* VISTA DESKTOP*/

@media (min-width :1024px) {
    .padre {
        margin: 0;
        padding: 0;
        display: flex;
        display: grid;
        justify-content: center;
        min-height: auto;
        background: rgba(0, 0, 0, 0.2);
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        position: relative;
        top: 60px;
      }
      
      .container {
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 30px;
        padding: 5px;
        box-sizing: border-box;
      }
      
      .container .box {
        position: relative;
        background:#ffffff;
        padding: 20px 40px 40px;
        text-align: center;
        overflow: hidden;
        border-radius: 20px;
        cursor: pointer;
      }
      
      .container .box h2 {
        position: relative;
        margin: 0;
        padding: 0;
        font-size: 100px;
        color: #ffffff;
        z-index: 1;
        opacity: 0.4;
      }
      
      .container .box h3 {
        margin: 0;
        padding: 0;
        font-size: 28px;
        text-transform: uppercase;
      }
      
      .container .box h3 {
        margin: 10px;
        padding: 0;
        color: #ffffff;
        font-size: 28px;
      }

      .box:hover{
        border-radius:50%;
        -webkit-border-radius:50%;
        box-shadow: 0px 0px 15px 15px #ec731e;
        -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        }
}

/* VISTA MOBILE*/

@media (max-width:768px){
  .padre {
    margin: 30px;
    padding: 60;
    display: flex;
    display: grid;
    justify-content: center;
    min-height: auto;
    background: rgba(0, 0, 0, 0.2);
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  .container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    padding: 5px;
    box-sizing: border-box;
  }
  .container .box {
    position: relative;
    background: #ffffff;
    padding: 20px 40px 40px;
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
  }
  .container .box h2 {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 80px;
    color: #ffffff;
    z-index: 1;
    opacity: 0.4;
  }
  .container .box h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-transform: uppercase;
  }
  .container .box h3 {
    margin: 10px;
    padding: 0;
    color: #ffffff;
    font-size: 20px;
  }
}